<div class="wrap">
    <div class="wrapper">
        <div class="content">
            <div class="about">
                <div class="about-top">
                    <div class="about-left">
                        <h3>About Us</h3>
                        <div class="left-img">
                            <img src="~/Images/pic4.jpg" alt="" />
                        </div>
                        <div class="left-desc">
                            <p>  

                               </p>  </div>
                        <p>ots.com Pakistan Online Testing Website Where You can prepare Exams and test from 11th
Class to 12th Class Subject Wise and Chapter Wise by Online system.You Can Prepare and Check
your Preparation here by attempting our Online Test and check score card which will shown after
every test. ots Pakistan First Website Where all Province Educational Boards Classes Subject
Wise Test Given,</p>
                            <div class="border"> </div>
                        
                        
                            <h3>Mission & Goals</h3>
                            <img src="~/Images/pic5.jpg" alt="" />
                            <p>In our Country we have lack of proper teaching methodology and career planning, that’s why every
year thousand of students enter their parents or friends choice fields but more worse situation
created after that when our Education system have lack of practical knowledge and exposure. At this
level students just prepare for exams and want higher marks, For this reason they join many Tuition
Academies and Expensive colleges. But How many students in whole Pakistan can’t bear expensive
fee and quality education so they have passed exams with low marks. Our Main motive to Create this site to Provide Students
Free Online Education System where they can Easily Prepare their Annual Exams and
also check their Preparation Level before final appearance. So we Provide Online Testing Site for all
Students of Punjab, KPK, Sindh, Balochistan, AJK and Federal they can check their Preparation from
11th class to 12th class subject wise and Chapter wise. We Cover all Major Subjects for both classes.    </p>

                        </div>
                    </div>
                    <div class="about-right">

                        <h3>Our Director</h3>
                        <div class="right-img">
                            <img src="~/Images/pic6.jpg" alt="" />
                            <p>Our Team and Consulting Teachers Pool have tough task to create quality wise Exams online
which will more beneficial for Students in their exam in real time and also Working Day and Night to
Create more Test and Exams for other Classes and Fields,  </p>
                            <div class="border"> </div>
                            
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>
