<div class="wrap">
    <div class="wrapper">
        <div class="content">
            <div class="contact">
                <div class="contact-left">
                    <div class="contact-desc">
                        <h3>ADD  Subject , Chapter and Questions  </h3>
                        
                    </div>
                    <form action="/Home/Add" method="post">
                        <div class="sidebar">
                            <div>
                                <h3>Part</h3>
                                
                                <select name="part">
                                    <option value="Part1" selected>Part 1</option>
                                    <option value="Part2">Part 2</option>
                                </select>


                            </div>
                            <div class="contact-desc">
                                <br>
                                <h3>Subject</h3>

                                <select name="subject">
                                    <option value="math"  selected>Mathematics</option>
                                    <option value="phy">Physics</option>
                                    <option value="chem">Chemistry</option>
                                    <option value="bio">Biology</option>
                                </select>


                            </div>
                            <div class="contact-desc">
                                <br>
                                <h3>Chapter</h3>

                                <span>
                                    <select name="chapter">
                                        <option value="1" selected>1</option>
                                        <option value="2"> 2</option>
                                        <option value="3"> 3</option>
                                        <option value="4"> 4</option>
                                        <option value="5"> 5</option>
                                        <option value="6"> 6</option>
                                        <option value="7"> 7</option>
                                        <option value="8"> 8</option>
                                        <option value="9"> 9</option>
                                        <option value="10"> 10</option>
                                        <option value="11"> 11</option>
                                        <option value="12"> 12</option>
                                        <option value="13"> 13</option>
                                        <option value="14"> 14</option>
                                        <option value="15"> 15</option>
                                    </select>
                                </span>   
                                </div>
                            </div>
                            <div class="sidebar">
                                <div class="contact-desc">
                                    <br>
                                    <h3>Question Number</h3>
                                    <span><select name="mcq">
                                        <option value="1" selected>1</option>
                                        <option value="2"> 2</option>
                                        <option value="3"> 3</option>
                                        <option value="4"> 4</option>
                                        <option value="5"> 5</option>
                                        <option value="6"> 6</option>
                                        <option value="7"> 7</option>
                                        <option value="8"> 8</option>
                                        <option value="9"> 9</option>
                                        <option value="10"> 10</option>
                                        </select></span>
                                        <br>
                                        <h3>Question</h3>
                                        <span><textarea name="question"></textarea></span>

</div>
                                <div>

                                    <span><input type="text" name="A" placeholder="Option A" value=""></span>
                                    <span><input type="text" name="B" placeholder="Option B" value=""></span>
                                    <span><input type="text" name="C" placeholder="Option C" value=""></span>
                                    <span><input type="text" name="D" placeholder="Option D" value=""></span>

                                </div>
                                <div>
                                    <h3>Answer</h3>

                                    <select name="answer">
                                        <option value="A" selected>A</option>
                                        <option value="B">B</option>
                                        <option value="C">C</option>
                                        <option value="D">D</option>
                                    </select>


                                </div>
                            
                            <br>
                                <div>
                                    <input type="submit" height="230" width="370" style="background-color:forestgreen" value="ADD">

                                </div>
                            </div>
</form>
                </div>
                <div class="sidebar">
                    

                </div>
                <div class="clear"></div>
                <div class="clear"></div>
            </div>

        </div>
    </div>
</div>



