<div class="wrap">
    <div class="wrapper">
        <div class="content">
            <div class="contact">
                <div class="contact-left">
                    <div class="contact-desc">
                        <h3>Contact</h3>
                        <p>If You Want to Contact our Team regarding any thing Like Suggestion, Question or Help please
use our below form Our Representative will respond you timely,</p>
                    </div>
                    <form action="/Home/saveContact" method="post">
                        <div>
                            <span><label>Name</label></span>
                            <span><input type="text" name="name" value=""></span>
                        </div>
                        <div>
                            <span><label>Email</label></span>
                            <span><input type="text" name="email" value=""></span>
                        </div>
                        <div>
                            <span><label>Subject</label></span>
                            <span><textarea name="subject"></textarea></span>
                        </div>
                        <div>
                            <input type="submit" height="130" width="170" style="background-color:forestgreen" value="Submit">
                        </div>
                    </form>
                </div>
                <div class="sidebar-nav">
                    <div class="contact-desc">
                        <h3>Contact details</h3>
                    </div>
                    <div class="sidebar">
                        <ul> 
                            <li>Phone No: 111-786-222</li>
                            <br >
                            <li>Mobile No: 0307-4911063 </li>
                            <br >
                            <li>Email: ots@gmail.com</li>
                            
                        </ul>
                    </div>
                    
                </div>
                <div class="clear"></div>
                <div class="clear"></div>
            </div>

        </div>
    </div>
</div>



