
<div class="wrap">
    <div class="wrapper">
        <div class="content">
            <div class="grids">
                <div class="bot-grid">
                    <img src="~/Images/pic.jpg" alt="" />
                    <h3>Our Instructions</h3>
                    <p>
                        Our Slogan ” Ready For Exams, Lets Check Your Preparation” Represent that If you consider your
                        preparation are finalized for exams then Must be attempt our online test our Result Card will provide
                        you exact picture of your Preparation.
                    </p>

                </div>
                <div class="bot-grid1">
                    <img src="~/Images/pic1.jpg" alt="" />
                    <h3>Our Support</h3>
                    <p>
                        We support our Students for thier better future, we Provide Online Testing Site for all
                        Students of Punjab, KPK, Sindh, Balochistan, AJK and Federal.
                    </p>
                    <a href="#"><p></p></a>
                </div>
                <div class="bot-grid2">
                    <img src="~/Images/pic2.jpg" alt="" />
                    <h3>Our Guarantee</h3>
                    <p>
                        In the Starts we are Providing Punjab Boards Online Test from 11th Class to 12th Class All Subject and
                        chapter wise Online Test in form of Mcq’s , Other Province educational
                        Boards will be added Soon.
                        <br>
                    </p>

                </div>
                <div class="bot-grid3">
                    <img src="~/Images/pic3.jpg" alt="" />
                    <h3>Our Reliability</h3>
                    <p>
                        We have Large Pool of Teachers Besides of
                        our Team, Without their Suggestion and advices its difficult to accomplish this Project we grateful for
                        their Services for this site.
                    </p>
                    <a href="#"><p></p></a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="grids-bottom">
                <div class="grid">
                    <h2>Expert</h2>
                    <p>
                        In Our Team there are Many Professional like Web Developers, Designers, Data Entry Staff, SEO
                        Experts and Editorial Staff.They all are working really hard Day and Night to Provide you Quality
                        Online Testing System which will more beneficial then any Tuition academy or other Site.
                    </p>


                </div>
                <div class="grid1">
                    <h2>Quality</h2>
                    <p>
                        Recently all test are available for all Students, Teachers and Candidates other all
                        Test and Online Quiz will be added soon.Our Team Working really hard to provide you Quality Test
                        online.
                    </p>

                </div>
                <div class="grid2">
                    <h2>Goal</h2>
                    <p>
                        Our Main motive to Create this site to Provide Students
                        Free Online Education System where they can Easily Prepare their Annual Exams  and
                        also check their Preparation Level before final appearance.
                    </p>

                </div>
                <div class="grid3">
                    <h2>Visions</h2>
                    <p>
                        In our Country we have lack of proper teaching methodology ,At this
                        level students just prepare for exams and want higher marks.So Students can get benefits from this for
                        their exam preparation.
                    </p>

                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
