

<div class="wrap">
    <div class="wrapper">
        <div class="content">
            <div class="about">
                <div class="about-top">
                    <div class="about-left" >
                        <div id="subjects">

                            <div class="left-desc">

                                <h3>Physics Part 1</h3>
                            </div>

                            <div class="prog-left">
                                <form action="/Home/Phy1" method="post">
                                    <input type="submit" id="phy1" name="phy1" value="Start Test" />
                                </form> 
                                <div class="clear"></div>

                            </div>


                            <div class="clear"></div>

                            <div class="left-desc">

                                <h3>Mathematics Part 1</h3>
                            </div>

                            <div class="prog-left">

                                <input type="button" id="math1" name="math1" value="Start Test" />
                                <div class="clear"></div>
                            </div>


                            <div class="clear"></div>

                            <div class="left-desc">

                                <h3>Chemistry Part 1</h3>
                            </div>

                            <div class="prog-left">

                                <input type="button" id="chem1" name="chem1" value="Start Test" />
                                <div class="clear"></div>
                            </div>


                            <div class="clear"></div>

                            <div class="left-desc">

                                <h3>Biology Part 1</h3>
                            </div>

                            <div class="prog-left">

                                <input type="button" id="bio1" name="bio1" value="Start Test" />
                                <div class="clear"></div>
                            </div>


                            <div class="clear"></div>

                            <div class="left-desc">

                                <h3>Physics Part 2</h3>
                            </div>

                            <div class="prog-left">

                                <input type="button" id="phy2" name="phy2" value="Start Test" />
                                <div class="clear"></div>
                            </div>


                            <div class="clear"></div>

                            <div class="left-desc">

                                <h3>Mathematics Part 2</h3>
                            </div>

                            <div class="prog-left">

                                <input type="button" id="math2" name="math2" value="Start Test" />
                                <div class="clear"></div>
                            </div>


                            <div class="clear"></div>

                            <div class="left-desc">

                                <h3>Chemistry Part 2</h3>
                            </div>

                            <div class="prog-left">

                                <input type="button" id="chem2" name="chem2" value="Start Test" />
                                <div class="clear"></div>
                            </div>


                            <div class="clear"></div>



                            <div class="left-desc">

                                <h3>Biology Part 2</h3>
                            </div>

                            <div class="prog-left">

                                <input type="button" id="bio2" name="bio2" value="Start Test" />
                                <div class="clear"></div>
                            </div>


                            <div class="clear"></div>

                        </div>
                      
                   
                    </div>
                    </div>
                <div class="about-right">
                    <h3>Part 1</h3>
                    <div class="right-img">
                        <div class="sidebar-nav">
                            <ul>
                                <li>Physics</li>
                                <li>Chemistry</li>
                                <li>Mathematics</li>
                                <li>Biology</li>
                                
                            </ul>
                            <div class="clear" ></div>
                        </div>
                        <h3>Part 2</h3>
                        <div class="sidebar-nav">
                            <ul>
                                <li>Physics</li>
                                <li>Chemistry</li>
                                <li>Mathematics</li>
                                <li>Biology</li>
                            </ul>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>








